@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rouge+Script&display=swap');

:root{
    /* paleta de colores */
    --primary-color:#0f1626;
    --primary-color-rgb:rgba(15,22,38,.9);
    --secondary-color:#f5f5f5;
    --third-color:#AB987A;
    --hover-color:#ff533d;
    --hover-color-rgb:rgb(255, 83, 61,.5);
}


body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rouge Script', cursive; */
    background-color: var(--secondary-color);
}

/*hero*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.home-sect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90vh;
    
    position: relative;
    
}

/*fondo soy*/
.layer__about {
    position: absolute;
    top: 3vh;
    z-index: -2;
    font-size: 2.5rem;
    background: var(--secondary-color);
    background: linear-gradient(90deg,var(--secondary-color),var(--primary-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    opacity: 0;     
}

.layer{
    position: absolute;
    top:-60vh;
    z-index: -5;
    width: 100%;    
    height: 100%;
    background-color: var(--primary-color);
}


/*saludo*/
.layer__greeting{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:var(--hover-color);
    
}
.layer__title{    
    font-size: 3.2rem;    
    margin-left: 0.625rem;
}

.layer__point{
    position: relative;
    top:2vh;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--hover-color); 
}

/*content home */
.home-sect__content{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

/*titulo*/
.home-sect__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    opacity: 0;
    margin-top: 1.3rem;
    margin-bottom: 0.625rem;
}

.text__title{
    font-size: 45px;
    margin-bottom: 0.313rem;
    margin-top: 1.563rem;
    font-family: 'Rouge Script', cursive;
}

.text__title a{    
    color:var(--third-color);
}

.text__copy{
    font-size: 1rem;
    text-align: center;
    color:var(--secondary-color);
    opacity: .4;
}


/*seccion proyectos recientes */
.home-sect__projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;        
    margin-top: 1.5rem;
    
    /* position: relative; */
}

.projects-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    
}



.projects-frame__title {
    font-size: 1rem;
    line-height: 2.5rem;  
    transform: translateX(-280%);
}

.projects-frame__title__link{
    color: var(--secondary-color);
    cursor: pointer;  
   --clippy:  polygon(0 0, 0 0, 0 100%, 0 100%); 
   position: relative;
   
}


.projects-frame__title__link::after{
    position: absolute;
    top:30%;    
    z-index: 0;
    content: "";
    display: block;
    background: var(--hover-color);
    opacity: .5;
    width: 100%;
    height: 1rem;   
    clip-path: var(--clippy);          
    transition: clip-path .3s;
}


.projects-frame__title__link:hover{    
    --clippy:  polygon(0 0, 100% 0, 100% 100%, 0 100%);         
} 

.legend__projects{
    font-size: 1.86em;
    color:var(--secondary-color);
    transform: rotate(90deg);
    mix-blend-mode: overlay;
    opacity: 0;
    
}

/*habilidades  home*/
.home-sect__skills{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    opacity: 0;
}

.legend__skills{
    font-size: 1rem;
    color: var(--secondary-color);
    mix-blend-mode: overlay;
    
}

.skills-frame{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5,1fr);
    
}

.skills-frame__icon{
    width: 24px;
    height: 24px;
}

/*redes sociales home*/
.home-sect__social{
    position: absolute;
    top:40%;
    left: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
}

.social-icon{
    color: var(--third-color);
    margin-top: 0.625rem;
}

/****************************home desktop*******************************/
@media screen and (min-width:768px){
    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; /**/
        
    }
    
   
}