@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rouge+Script&display=swap');

:root{
    /* paleta de colores */
    --primary-color:#0f1626;
    --primary-color-rgb:rgba(15,22,38,.2);
    --secondary-color:#f5f5f5;
    --third-color:#AB987A;
    --hover-color:#ff533d;
    --hover-color-rgb:rgb(255, 83, 61,.5);

    /*color texto*/
    --text-color:#414141;

    /*contenedor general*/
    --paddign-container:6.25em 0;   
    --width-container:90%; 
    --maxwidth-container:1200px;


    /*tamaño de fuente*/
    --title:clamp(2.5rem,5vw,3.75rem);
    --text-title:  clamp(1.5rem,4vw,2.188rem);
    --text-subtitle: 1.188rem;
    --text-paragraph: clamp(1rem,2vw,1.25rem);

    /*menu*/
    --size-icon-menu:40px;
}


body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rouge Script', cursive; */
    background-color: var(--secondary-color);
}

/*clases base */
.title{
    font-size: var(--text-title);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.sub-title{
    font-size: var(--text-subtitle);
    font-weight: 500;
    color: var(--third-color);
    margin-bottom: 30px;
}

.paragraph{
    font-size: var(--text-paragraph);    
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--text-color);
    margin-bottom: 10px;
}


.container{
    width: var(--width-container);
    max-width: var(--maxwidth-container);
    padding: var(--paddign-container);
    margin: 0 auto;
    overflow: hidden;
    border:1px solid red;
}


.btn{
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    margin: 20px auto;
    font: bold;
    position: relative;
}

.btn:hover{
    background-color: var(--third-color);
}

.btn--icon{
    margin-right: 8px;    
}

.btn--fl{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    color:var(--primary-color);
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    height: 100%;   
    position: relative;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    margin:0 10px;
}

.card__icon{
    width: 7.5rem;
    height: 7.5rem;
}

.card:hover .card__icon{
    transition: all .6s;
    transform: scale(1.1);
}


.card__layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition:  transform .6s ease;
    transform: translateY(100%);
    text-align: center;
    color: var(--text-color);
    font: bold;
    font-size: 1.2rem;    
}

.card:hover .card__layer{
    transform: translateY(80%);    
}


/*hero*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}



/*fondo soy*/
.layer__about {
    position: absolute;
    top: 3vh;
    z-index: -2;
    font-size: 2.5rem;
    background: var(--secondary-color);
    background: linear-gradient(90deg,var(--secondary-color),var(--primary-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    opacity: 0;     
}

.layer{
    position: absolute;
    top:-60vh;
    z-index: -5;
    width: 100%;    
    height: 100%;
    background-color: var(--primary-color);
}


/*saludo*/
.layer__greeting{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:var(--hover-color);
    
}
.layer__title{    
    font-size: 3.2rem;    
    margin-left: 0.625rem;
}

.layer__point{
    position: relative;
    top:2vh;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--hover-color); 
}



/*home sect */
.home-sect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90vh;
    
    position: relative;
    
}

/*content home */
.home-sect__content{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

/*titulo*/
.home-sect__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    opacity: 0;
    margin-top: 1.3rem;
    margin-bottom: 0.625rem;
}

.text__title{
    font-size:  var(--title); /* 45px;*/
    margin-bottom: 0.313rem;
    margin-top: 1.563rem;
    font-family: 'Rouge Script', cursive;
}

.text__title a{    
    color:var(--third-color);
}

.text__copy{
    font-size: 1rem;
    text-align: center;
    color:var(--secondary-color);
    opacity: .4;
}


/*seccion proyectos recientes */
.home-sect__projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;        
    margin-top: 1.5rem;
    
    /* position: relative; */
}

.projects-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    
}



.projects-frame__title {
    font-size: 1rem;
    line-height: 2.5rem;  
    transform: translateX(-600%);
}

.projects-frame__title__link{
    color: var(--secondary-color);
    cursor: pointer;  
   --clippy:  polygon(0 0, 0 0, 0 100%, 0 100%); 
   position: relative;
   
}


.projects-frame__title__link::after{
    position: absolute;
    top:30%;    
    z-index: 0;
    content: "";
    display: block;
    background: var(--hover-color);
    opacity: .5;
    width: 100%;
    height: 1rem;   
    clip-path: var(--clippy);          
    transition: clip-path .3s;
}


.projects-frame__title__link:hover{    
    --clippy:  polygon(0 0, 100% 0, 100% 100%, 0 100%);         
} 

.legend__projects{
    font-size: 1.86em;
    color:var(--secondary-color);
    transform: rotate(90deg);
    mix-blend-mode: overlay;
    opacity: 0;
    
}

/*habilidades  home*/
.home-sect__skills{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    opacity: 0;
}

.legend__skills{
    font-size: 1rem;
    color: var(--secondary-color);
    mix-blend-mode: overlay;
    
}

.skills-frame{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5,1fr);
    
}

.skills-frame__icon{
    width: 24px;
    height: 24px;
}

/*redes sociales home*/
.home-sect__social{
    position: absolute;
    top:40%;
    left: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
}

.social-icon{
    color: var(--third-color);
    margin-top: 0.625rem;
}

/*seccion about*/
.about-sect__Text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*seccion skills*/
.skills__content{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 120px;
    grid-template-columns: repeat(auto-fit,minmax(min(90%,120px),1fr));  

}
/*seccion projects*/
.projects__content{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,500px),1fr));
    border: 1px solid yellow;
}

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.projects__item__icon{
    width: 100%;
    height: 100%;
    
}
.projects__layer{    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 80%;
    height: 100%;
    background-color: var(--hover-color);
    transition:  transform .6s ease;
    transform:translateX(-100%)

}

.projects__item:hover .projects__layer{
    transform:translateX(0%)

}

.projects__layer--right{    
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 50%;
    height: 100%;
    background-color: var(--hover-color);
}


/*seccion contact*/
.contact__content{
    display: grid;
    gap: 20px;
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit,minmax(min(90%,120px),1fr));
}


.contact__icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact__legend{
    color:var(--text-color);
    margin-top: 10px;
}


.mail__icon , .linkedin__icon , .github__icon{    
    font-size: 2.5rem;
}

.mail__icon{
    color:var(--hover-color);
}

.linkedin__icon{
    color:#0e76a8;
}

.github__icon{
    color: var(--primary-color);
}



/*seccion footer*/
.footer__text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--size-icon-menu);
    font-size: 14px;
    font-weight: 400;
    color:var(--third-color);
    background-color: var(--primary-color);
    text-align: center;

}

/*menu*/
.top-bar{
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;    
    position: fixed;
    top:0vh;
    left:85%;
    z-index: 25;
    border-radius: 50%;
    /* background-color: var(--primary-color); */
}

.icon-menu{        
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    width:var(--size-icon-menu);
    height: var(--size-icon-menu); 
    cursor: pointer;            
    position: relative;   
    
}

.icon-menu__bar{
    position: absolute;
    background: var(--third-color);
    width: 100%;
    height: 4px;
    top:calc(var(--size-icon-menu) / 2);
    
}

.icon-menu__bar::after , .icon-menu__bar::before{
    content: "";        
    position: absolute;    
    display: block;    
    top: 8px;
    left: 0;
    width: var(--size-icon-menu) ;
    height: 4px;    
    background: var(--hover-color);
}

.icon-menu__bar::before{     
    left:40%;   
    width: 60%;
}

.icon-menu__bar::after{    
    left:20%;    
    width: 80%;
    top: -8px;    
    background: var(--third-color);
}

.layer__nav{
    display: none;    
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-rgb);
    
}

.hero-nav{
    position: fixed;
    top:0;
    left:0;     
    width: 100%;
    height: 100%;
    z-index: 30;   
    display: grid;   
    grid-template-rows: 100vh;
    grid-template-columns: 100%;
   
    
    transition: transform .5s ease-in-out;    
    transform: translateX(100%);
}

.logo{
    grid-area: logo;    
    color:var(--third-color);
}

.menu{
    grid-area: items;    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start; 
}

.menu__item{
    list-style: none;   
}

.menu__item__link{    
    color: var(--third-color);
    font-size: 1.5rem;
    line-height: 1.625rem;
    font-weight: 700;   
}

.menu__item__link--active{ 
    color: var(--hover-color);
    
}

.menu__item__link--btn{ 
    margin-top: 20px;
    display: inline-block;
    color:var(--primary-color);
    margin-right: 15px;
}

.menu__bar{
    grid-area: bar;
    background: var(--primary-color);
}

.menu__bar__btn{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 40px;
    margin-top: 5px;
}


.hero-nav__content{
    display: grid;    
    gap:10px;
    grid-template: 
    "logo logo bar" 20px 
    "items items bar" 40% 
    "items items bar" 40% / 40% 20% 20%;
    
    place-content: center;
    
    background-color: var(--secondary-color); 
    
}


.show-menu{
    transform:translateX(0%);
}

.layer-mask{
    display: none;
}

/****************************home desktop*******************************/
@media screen and (min-width:768px){
    .layer-mask{
        display: block;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:5vh;
        background-color: var(--secondary-color);
        z-index: 5;
    }
    .hero{       
        align-items: center;        
    }
    
    .home-sect{      
        width: 90%;      
        
    }

    .layer{
        position: absolute;
        top:-60vh;
        z-index: -5;
        width: 100%;    
        height: 100%;
        background-color: var(--primary-color);
        
    }
    

    /*top bar*/
    .top-bar{        
        width: 45px;
        height: 45px;            
        top:40vh;
        left:95%;        
        border-radius: 0;        
        background-color: transparent;
    }
    
    .icon-menu__bar{       
        height: 6px;
        
    }
    
    .icon-menu__bar::after , .icon-menu__bar::before{       
        height: 6px;        
     }

     /*menu*/
     .layer__nav{
         display: block;
         z-index: 50;
        
     }
    
     .hero-nav{   
        display: grid;
        grid-template-columns: 40% 60%;                   
        
    }
   
}