@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rouge+Script&display=swap');

:root{
    /* paleta de colores */
    --primary-color:#0f1626;
    --primary-color-rgb:rgba(15,22,38,.9);
    --secondary-color:#f5f5f5;
    --third-color:#AB987A;
    --hover-color:#ff533d;
    --hover-color-rgb:rgb(255, 83, 61,.5);

    /*color texto*/
    --text-color:#414141;

    /*contenedor general*/
    --paddign-container:6.25em 0;   
    --width-container:90%; 
    --maxwidth-container:1200px;


    /*tamaño de fuente*/
    --title:clamp(2.5rem,5vw,3.75rem);
    --text-title:  clamp(1.5rem,4vw,2.188rem);
    --text-subtitle: 1.188rem;
    --text-paragraph: clamp(1rem,2vw,1.25rem);
}


body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Rouge Script', cursive; */
    background-color: var(--secondary-color);
}

/*clases base */
.title{
    font-size: var(--text-title);
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.sub-title{
    font-size: var(--text-subtitle);
    font-weight: 500;
    color: var(--third-color);
    margin-bottom: 30px;
}

.paragraph{
    font-size: var(--text-paragraph);    
    font-weight: 400;
    line-height: 1.875rem;
    color: var(--text-color);
    margin-bottom: 10px;
}


.container{
    width: var(--width-container);
    max-width: var(--maxwidth-container);
    padding: var(--paddign-container);
    margin: 0 auto;
    overflow: hidden;
    border:1px solid red;
}


.btn{
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color:var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    margin: 20px auto;
    font: bold;
    position: relative;
}

.btn:hover{
    background-color: var(--third-color);
}

.btn--icon{
    margin-right: 8px;    
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    height: 100%;   
    position: relative;
    cursor: pointer;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
    margin:0 10px;
}

.card__icon{
    width: 7.5rem;
    height: 7.5rem;
}

.card:hover .card__icon{
    transition: all .6s;
    transform: scale(1.1);
}


.card__layer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    transition:  transform .6s ease;
    transform: translateY(100%);
    text-align: center;
    color: var(--text-color);
    font: bold;
    font-size: 1.2rem;    
}

.card:hover .card__layer{
    transform: translateY(80%);    
}

/*hero*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.home-sect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90vh;
    
    position: relative;
    
}

/*fondo soy*/
.layer__about {
    position: absolute;
    top: 3vh;
    z-index: -2;
    font-size: 2.5rem;
    background: var(--secondary-color);
    background: linear-gradient(90deg,var(--secondary-color),var(--primary-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    opacity: 0;     
}

.layer{
    position: absolute;
    top:-60vh;
    z-index: -5;
    width: 100%;    
    height: 100%;
    background-color: var(--primary-color);
}


/*saludo*/
.layer__greeting{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:var(--hover-color);
    
}
.layer__title{    
    font-size: 3.2rem;    
    margin-left: 0.625rem;
}

.layer__point{
    position: relative;
    top:2vh;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--hover-color); 
}

/*content home */
.home-sect__content{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

/*titulo*/
.home-sect__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    opacity: 0;
    margin-top: 1.3rem;
    margin-bottom: 0.625rem;
}

.text__title{
    font-size:  var(--title); /* 45px;*/
    margin-bottom: 0.313rem;
    margin-top: 1.563rem;
    font-family: 'Rouge Script', cursive;
}

.text__title a{    
    color:var(--third-color);
}

.text__copy{
    font-size: 1rem;
    text-align: center;
    color:var(--secondary-color);
    opacity: .4;
}


/*seccion proyectos recientes */
.home-sect__projects{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;        
    margin-top: 1.5rem;
    
    /* position: relative; */
}

.projects-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
    
}



.projects-frame__title {
    font-size: 1rem;
    line-height: 2.5rem;  
    transform: translateX(-600%);
}

.projects-frame__title__link{
    color: var(--secondary-color);
    cursor: pointer;  
   --clippy:  polygon(0 0, 0 0, 0 100%, 0 100%); 
   position: relative;
   
}


.projects-frame__title__link::after{
    position: absolute;
    top:30%;    
    z-index: 0;
    content: "";
    display: block;
    background: var(--hover-color);
    opacity: .5;
    width: 100%;
    height: 1rem;   
    clip-path: var(--clippy);          
    transition: clip-path .3s;
}


.projects-frame__title__link:hover{    
    --clippy:  polygon(0 0, 100% 0, 100% 100%, 0 100%);         
} 

.legend__projects{
    font-size: 1.86em;
    color:var(--secondary-color);
    transform: rotate(90deg);
    mix-blend-mode: overlay;
    opacity: 0;
    
}

/*habilidades  home*/
.home-sect__skills{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    opacity: 0;
}

.legend__skills{
    font-size: 1rem;
    color: var(--secondary-color);
    mix-blend-mode: overlay;
    
}

.skills-frame{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5,1fr);
    
}

.skills-frame__icon{
    width: 24px;
    height: 24px;
}

/*redes sociales home*/
.home-sect__social{
    position: absolute;
    top:40%;
    left: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    opacity: 0;
}

.social-icon{
    color: var(--third-color);
    margin-top: 0.625rem;
}

/*seccion about*/
.about-sect__Text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*seccion skills*/
.skills__content{
    display: grid;
    grid-auto-flow: dense;
    grid-auto-rows: 120px;
    grid-template-columns: repeat(auto-fit,minmax(min(90%,120px),1fr));  

}

/****************************home desktop*******************************/
@media screen and (min-width:768px){
    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center; /**/
        
    }

    .layer__about {
        position: absolute;
        top: 1vh;        
        font-size: 3.5rem;
          
    }

    .layer__title{    
        font-size: 4rem;    
        margin-left: 0.625rem;
    }
    
    .layer__point{
        position: relative;
        top:2vh;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: var(--hover-color); 
    }
    
    
   
}