@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Rouge+Script&display=swap');

:root{
    /* paleta de colores */
    --primary-color:#0f1626;
    --primary-color-rgb:rgba(15,22,38,.9);
    --secondary-color:#f5f5f5;
    --third-color:#AB987A;
    --hover-color:#ff533d;
    --hover-color-rgb:rgb(255, 83, 61,.5);
}


body{
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Rouge Script', cursive; */
}

/*hero*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home-sect{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90vh;
    border: 3px solid blue;
    position: relative;
    background: var(--primary-color);
}

/*fondo soy*/
.layer__about {
    position: absolute;
    top: 0;
    font-size: 3.5rem;
    background: var(--secondary-color);
    background: linear-gradient(90deg,var(--secondary-color),var(--primary-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    opacity: .4;    
}


.layer__project{
    position: absolute;
    top:43%;
    left:50%;   
    transform: rotate(90deg);
    font-size: 1.2rem;
    color: var(--secondary-color);
}
.layer__skills{
    position: absolute;
    top:75%;
    font-size: 1rem;
    background: var(--secondary-color);
    background: linear-gradient(90deg,var(--secondary-color),var(--primary-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    opacity: .4; 
}


/*content home */
.home-sect__content{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

/*titulo*/
.home-sect__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 15px;
}

.text__title{
    font-size: 45px;
    margin-bottom: 5px;
    margin-top: 45px;
    font-family: 'Rouge Script', cursive;
}

.text__title a{
    
    color:var(--third-color);
}
.text__copy{
    font-size: 1rem;
    text-align: center;
    color:var(--secondary-color);
    opacity: .4;
}


/*seccion proyectos recientes */
.home-sect__projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 30%;
    padding-left: 10px;
    border: 1px solid yellowgreen;
    margin-top: 50px;
    /* position: relative; */
}

.projects-frame{
    display: flex;
    
}



.projects-frame__name {
    font-size: 1rem;
    line-height: 2.5rem;
    color: var(--secondary-color);
    /* cursor: pointer;         */
   --clippy:  polygon(0 0, 0 0, 0 100%, 0 100%); 
   position: relative;
}


.projects-frame__name::after{
    position: absolute;
    top:30%;    
    z-index: 0;
    content: "";
    display: block;
    background: var(--hover-color);
    opacity: .5;
    width: 100%;
    height: 1rem;   
    clip-path: var(--clippy);          
    transition: clip-path .3s;
}


.projects-frame__name:hover{    
    --clippy:  polygon(0 0, 100% 0, 100% 100%, 0 100%);    
    
     
} 

/*habilidades  home*/
.home-sect__skills{    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.skills-frame__icon{
    width: 24px;
    height: 24px;
}

/*redes sociales home*/
.home-sect__social{
    position: absolute;
    top:50%;
    left: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.social-icon{
    color: var(--third-color);
}